/* Table Container */
.table-container {
  width: 100%;
  font-family: Arial, sans-serif;
}

.title-strip {
  background-color: #006400; 
  padding: 10px 0;
  text-align: center;
  margin-top: 60px; 
}

.table-title {
  color: white;  
  font-size: 24px;
  margin: 0; 
  font-weight: bold;
}


.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0; /* Remove top margin so it connects to the title strip */
}

.styled-table th, .styled-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.styled-table th {
  background-color: #4CAF50;
  color: white;
}

.styled-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.styled-table tr:hover {
  background-color: #ddd;
}


.header-row {
  background-color: #4CAF50;
}

.header-cell {
  font-weight: bold;
  color: white;
}


.data-row {
  text-align: center;
}


.product-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}


.styled-table td, .styled-table th {
  padding: 12px;
}
