.table-input-form {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0 20px;
  border-radius: 0; 
}

.table-input-form div {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
}

.table-input-form input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.table-input-form button {
  padding: 1em 2em;
  background-color: #74A662;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.table-input-form button:hover {
  background-color: #4b8e41;
}

@media (max-width: 768px) {
  .table-input-form {
    flex-direction: column;
    align-items: stretch; 
    padding: 10px; 
  }

  .table-input-form div {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .table-input-form input {
    font-size: 12px; 
    padding: 8px; 
  }

  .table-input-form button {
    width: 90%; 
    font-size: 1em; 
    padding: 0.8em 1.5em; 
    margin: 10px auto; 
  }
}


@media (min-width: 769px) {
  .table-input-form {
    flex-direction: row; 
    justify-content: space-between; 
  }

  .table-input-form button {
    width: auto; 
    max-width: 200px; 
    margin-left: 10px; 
  }

  .table-input-form input {
    flex-grow: 1; 
  }
}
